.header__logo {
  max-width: 142px;
  min-height: 33px;
  padding: 45px 0 37px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    max-width: 130px;
    padding: 24px 0 23px 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 104px;
  }
}