.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/popup-button-close.svg);
  background-size: 100%;
  border: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}
  
  .popup__button-close:hover {
    opacity: .6;
}
  
@media screen and (max-width: 620px) {
    .popup__button-close {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 0;
    }
}